
label{
    color: white;
    margin-left: 450px;
    text-align: center;
}

input[type=text], [type=email], [type=name], [type=number], textarea{
width: 600px;
display: block;
margin-left: 600px;
margin-top: 20px;
margin-bottom: 20px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 8px;
}

input[type=date], [type=time]{
width: 300px;
display: block;
margin-left: 750px;
margin-top: 20px;
margin-bottom: 20px;
padding: 12px 20px;
box-sizing: border-box;
border-radius: 8px;
}

button{
width: 100px;
padding: 12px 20px;
margin-left: -98px;
}

button:hover {
    background-color: teal;
    color: white;
    border-color: aqua;
}

*{ margin: 0;
padding: 0; 
text-decoration: none; 
list-style: none; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* /==== Menu Barra Navegação ====/  */

body {
    overflow-x: hidden;
}

.header { 
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
padding-top: 15px; 
padding-bottom: 10px; 
background: black; 
backdrop-filter: blur (10px); 
display: inline-block; 
align-items: center; 
z-index: 100; 
}

.logo { 
font-size: 25px; 
color: teal; 
font-weight: 800; 
transition: 0.3s ease;
}

.logo:hover { 
transform: scale(1.1); }

.navbar { 
background-color: black;
}

/* /==== Menu Barra Navegação ====/ */
.navbar a { 
font-size: 20px; 
color: white; 
font-weight: 500; 
margin: 0 20px; 
border-bottom: 3px solid transparent; 
transition: 0.3s ease; 
display: inline-block;
}

.navbar a:hover, .navbar a.active { 
color: darkslategray; 
transform: scale(1.1); }

/* ==== Footer ====*/ 
.footer { 
position: relative; 
bottom: 0; 
width: 100%; 
padding: 40px 0; }

.footer .social { 
text-align: right; 
padding-bottom: 25px; 
color: white; }

.footer .social a { 
font-size: 25px; 
color: white; 
width: 40px; 
height: 40px;  
display: inline-block; 
border-radius: 50%; 
transition: 0.3s ease;
}

.footer .social a:hover { 
border: 3px solid white; 
transform: scale(1.2) translateY(-10px); }

/* ==== Section ====*/

body {
    height: 100vh;
}

.historia {
    color: aliceblue;
    text-align: center;
    align-items: center;
    padding: 12% 8%;
    background-image: url(img/paredeescura.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.historia h2{
text-align: center;
margin-top: 200px;
}

.historia h3{
align-items: center;
text-align: justify;
margin-top: 100px;
margin-left: 400px;
margin-right: 100px;
}

.historia p{
text-align: justify;
margin-left: 4px;
margin-right: 410px;
}

.servicos {
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
    height: 100vh;

}

h2 { 
font-size: 35px; 
color: white; 
text-align: center; 
align-items: center; }

h2:hover { 
transform: scale(1.1); 
color: teal; 
transition: 0.3s ease;}

.h2-color{
color: white;
}

.h2-color:hover { 
transform: scale(1.1); 
color: teal; 
transition: 0.3s ease;}

.promo { 
color: white; 
font-size: 18px; 
text-align: center; 
align-items: center; 
padding: 12% 8%; 
gap: 10em; 
background-image: url(img/paredeescura.jpg); 
background-attachment: fixed;
width: 100%; 
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}


.agend { 
width: 100%; 
text-align: center; 
align-items: center; 
padding: 12% 8%; 
gap: 10em; 
background-color: black;
height: 100vh;

}

.blog { 
width: 100%; 
text-align: center; 
align-items: center; 
padding: 12% 8%; 
gap: 10em; 
background-color: black;
height: 100vh;

}

.contato { 
color: aliceblue; 
width: 100%; 
text-align: center; 
align-items: center; 
padding: 12% 8%; 
gap: 10em; 
background-color: rgb(29, 28, 28);
height: 100vh;
}

.contato:hover { 
color:teal; 
transform: scale(1.1); }

.equipe { 
color: aliceblue; 
font-size: 18px; 
text-align: center; 
align-items: center; 
padding: 12% 8%; 
gap: 10em; 
background-image: url(img/parede.comlampadas.jpg); 
background-attachment: fixed;
width: 100%; 
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
}

.equipe:hover {
    color:teal;
}

.grid-container { 
display: grid; /*grid-template-columns geram 3 colunas iguais/  */
grid-template-columns: repeat(3, 1fr); gap:100px; /* gera um espaçamento entre imagens*/ }

